.links-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.hero{
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    size: 45px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    size: 30px;
    color: #424242;
}
a{
    text-decoration: none;
    color: #1565C0;
}
.two-column{
        display: flex;
        gap: 20px;
    }
h1, h2, h3{
    color: #1E88E5;
}
img{
    max-width: 400px;
    height: 200px;
    border-radius: 8px;
    margin: 20px 0;
}
.timetable{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}